
@model Dish
<h1>@Model.Name</h1>
<form asp-action="UpdateDish" asp-controller="Home" method="post" asp-route-dishId="@Model.DishId">

    <div class="mb-3">
        <p>Name of dish: </p>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <p>Name of chef: </p>
        <input asp-for="Chef" class="form-control">
        <span asp-validation-for="Chef"></span>
    </div>
    <div class="mb-3">
        <p>you like?: </p>
        <select asp-for="Tastiness" class="form-select">
            <option selected disabled hidden>pick one</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <span asp-validation-for="Tastiness"></span>
    </div>
    <div class="mb-3">
        <p>Calories: </p>
        <input asp-for="Calories" class="form-control">
        <span asp-validation-for="Calories"></span>
    </div>
    <div class="mb-3">
        <p>Describe your dish: </p>
        <textarea asp-for="Description" class="form-control">
        </textarea>
        <span asp-validation-for="Description"></span>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-success">Edit Dish</button>
        <a href="/" class="btn btn-primary">Home</a>
    </div>
</form>
