@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CRUDelcious</h1>
    <h3>home | <a href="/dish/new">Add a dish</a></h3>
    
</div>

<h5>Check out some recent dishes: </h5>
