@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-3">Welcome!</h1>
    <h3 class="mb-3 ">Please give your name:</h3>
    <form action="process" method="post">
        <input class="form-control mb-3" type="text" name="name" placeholder="your name">
        <button class="mb-3 btn btn-primary">Submit</button>
    </form>
</div>
