@{
    ViewData["Title"] = "Home Page";
}

@model User


<form asp-action="CreateUser" asp-controller="Home" method="post">
    <div class="mb-3">
        <label asp-for="Username" class="form-label"></label>
        <input asp-for="Username" class="form-control">
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control">
        <small>Password must be at least 8 characters.</small>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ConfirmPass" class="form-label"></label>
        <input asp-for="ConfirmPass" class="form-control">
        <span asp-validation-for="ConfirmPass" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <input type="submit" value="Register" class="btn btn-primary">
    </div>

</form>
