@model MyViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="d-flex justify-content-evenly">
    <div class="flex-1">
        @await Html.PartialAsync("_Product", Model.ViewProduct)

        
    </div>
    <div class="flex-1">

        <h1>All Products</h1>
        <ul>
            @foreach (Product p in Model.AllViewProduct)
            {
                <a href="product/@p.ProductId">
                <li>@p.Name</li>
                </a>
            }
        </ul>

    </div>
</div>