@model Product
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center d-flex ">
    <div class="flex-1">

        <h1>New Products</h1>
        <form asp-action="/" asp-controller="Home" method="post">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control">
            <span class="text-danger" asp-validation-for="Name"></span>

            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control">
            <span class="text-danger" asp-validation-for="Description"></span>

            <label asp-for="Price"></label>
            <input asp-for="Price" class="form-control">
            <span class="text-danger" asp-validation-for="Price"></span>

        </form>
    </div>
    <div class="flex-1">
        @await Html.PartialAsync("_Product")

    </div>

</div>
