@model MyViewModel 
<h1 class="mt-3 text-center">@Model.ViewCategory.Name</h1>
<div class="d-flex justify-content-between">
    <div class="flex-1">
        <ul>
            @foreach(Association c in Model.AllViewAssociation)
            {
                <li>@c.Product.Name</li>
            }
        </ul>
    </div>
    <div class="flex-1">
        @await Html.PartialAsync("_OneCategoryPlusProd", Model.ViewAssociation)
    </div>
</div>