@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Enter your information</h1>

    @model Submission
    <form action="process" method="post">
        <p class="mb-3">Name: </p>
        <span class="text-danger" asp-validation-for="Name"></span>
        <input class="form-control mb-3" placeholder="Your name" asp-for="Name">
        <p>Email: </p>
        <span class="text-danger" asp-validation-for="Email"></span>
        <input class="form-control mb-3" type="text" asp-for="Email">
        <p class="mb-3">Birthday: </p>
        <span class="text-danger" asp-validation-for="Birthday"></span>
        <input class="form-control mb-3" type="date" asp-for="Birthday">
        <p>Password: </p>
        <span class="text-danger" asp-validation-for="Password"></span>
        <input class="form-control mb-3" type="password" asp-for="Password">
        <p>Favorite Odd Number: </p>
        <span class="text-danger" asp-validation-for="OddNum"></span>
        <input class="form-control mb-3" type="number" asp-for="OddNum">
        <button class="btn btn-primary">Submit</button>
    </form>
</div>
