* {
    margin: 0px;
    padding: 0px
}

.main-box {
    display: flex;
    justify-content: center;
    gap: 0px;
}

.margin {
    margin-bottom: 15px;
}

/* ======general classes======*/

.flex {
    display: flex;
}

.box_shadow {
    box-shadow: 3px 3px black;
}

.text_marg {
    margin: 10px 15px;
    padding: 15px;
    font-size: 15pt;
    flex-direction: column;
    align-items: center;
    
}

.list_dec {
    list-style: none;
}

.bold_word {
    font-size: 35pt;
}

/* ========NAV BAR========= */

.nav {
    background-color: rgb(204, 204, 204);
    padding: 15px 20px;
    margin: 0px 80px;
    

}

.nav ul {
    justify-content: space-around;
    align-items: center;
    font-size: 35pt;
    margin-bottom: 10px;
}

.bar {
    height: 35px;
    width: 600px;
    font-size: 15pt;
    padding-left: 10px;
}

.login {
    background-color: #2b78e4;
    font-size: 15pt;
    padding: 5px 30px;
    color: white;
}

/* =======MAIN CONTENT========= */

.content {
    border: 3px solid black;
    margin-top: 20px;
}

.like_button {
    background-color: #ffd966;
    /* font-size: 15pt ; */
    /* padding: 10px 40px; */
    width: 120px;
    height: 40px;
    margin-top: 15px;


}

.def_box {
    width: 40%;
    margin-left: 80px;
}

.ninjitsu {
    margin-top: 75px;
    font-size: 20pt;
}

.other_box {
    width: 90%;
    font-size: 20pt;
}

.def_button {
    background-color: #93c47d;
    width: 175px;
    height: 40px;
}